body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 32px;
	color: #333;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #000;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
	color: black;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #000;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7F5539;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7F5539;
	margin-bottom: 20px;
	border: 0;
}

/* IMAGEN ESTUDIO TRONGE */


/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}
#menu a.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #CEB085;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #CEB085;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #CEB085 !important;
	background-color: transparent;
}
#menu .phone {
	font-family: 'Montserrat', sans-serif;
	margin: 4px 0 0 120px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	color: #999;
}
#menu .phone span {
	font-size: 14px;
	display: block;
	color: #CEB085;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #CEB085;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #7F5539;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #7F5539;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #CEB085;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-estudio-tronge.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.3);
}
.intro h1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 62px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.intro p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(0,0,0,.45);
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 150px;
	text-align: center;
}
/* Get Touch Section */
#get-touch {
	padding: 40px 0 30px;
	color: rgba(255,255,255,.7);
	background: #CEB085;
}
#get-touch h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 10px 0;
}
#get-touch .btn-custom {
	margin: 0;
	background: transparent;
	border: 2px solid #fff;
}
#get-touch .btn-custom:hover {
	color: #CEB085;
	background: #fff;
	border: 2px solid #fff;
}
/* About Section */
#about {
	padding: 110px 0;
	background: #f6f6f6;
}
#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#about h2::after {
	position: absolute;
	content: "";
	background-color: #7F5539;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#about .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #CEB085;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#about img {
	padding: 20px;
	width: 500px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}
/* Services Section */
#services {
	padding: 100px 0;
}
#services .service-media {
	margin: 10px;
}
#services .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services .service-desc {
	margin: 10px 10px 20px;
}
#services h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services .service-desc hr {
	margin-left: 0;
}
/* Portfolio Section */
#portfolio {
	padding: 100px 0;
	background: #f6f6f6;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(31, 56, 110, 0.8);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Testimonials Section */
#testimonials {
	padding: 100px 0;
}
#testimonials i {
	color: #e6e6e6;
	font-size: 32px;
	margin-bottom: 20px;
}
.testimonial {
	position: relative;
	padding: 20px;
}
.testimonial-image {
	float: left;
	margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
}
.testimonial-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}
.testimonial-meta {
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background-color: #9c9c9c;
	color: #000;
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact h2 {
	color: #000;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact h4 {
	color: #000;
	margin-top: 22px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact form {
	padding-top: 20px;
}
#contact h3 {
	font-size: 17px;
	font-weight: 600;
}
#contact .text-danger {
	color: #7F5539;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #fff;
}
#contact .btn-custom:hover {
	color: #CEB085;
	background: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	display: block;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 10px;
	color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #fff;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #1f386e;
}
#footer a:hover {
	color: #7F5539;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}

/* CONTACTO*/

:root {
    --font: 'Oxygen', sans-serif;
    --primary: #CB997E;
    --black: black;
}
.bg-contactus {
	background-color: #734222;
}

.container-contactus {
    font-family: var(--font);
    background: var(--gradient);
    margin: 0;
}

.u-wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
    padding: 0 1em;
}

.h1 {
    font-size: 59px;
    line-height: 95px;
    font-weight: 700;
    margin: 1rem 0;
}

.h1 span {
    display: block;
}

.h3 {
    font-size: 48px;
    line-height: 77px;
}

.social-item {
    background: var(--primary);
    display: inline-block;
    inline-size: 44px;
    block-size: 44px;
    text-align: center;
    line-height: 44px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid var(--black);
}

.social-item+.social-item {
    margin-left: 1em;
}

.social-item img {
    vertical-align: middle;
}

.btn {
    /* font-family: var(--font); */
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
}

.btn.full {
    width: 100%;
}

.btn.primary {
    background: var(--primary);
}



.btn.secondary img {
    position: relative;
    bottom: 1px;
}

.btn i {
    display: inline-block;
}

.btn span {
    vertical-align: middle;
}

.btn i img {
    vertical-align: middle;
}

.hero {
    margin-block-end: 80px;
}



.hero-content img {
    display: block;
    margin: 0 auto;
    /* text-align: center; */
}


.header {
    padding: 1em 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-projects-content {
    text-align: center;
}

.pre-projects-content p {
    font-size: 1.5em;
    text-align: center;
    line-height: 38px;
    letter-spacing: 0.5%;
}

.pre-projects-content p+p {
    font-weight: bold;
}

.project {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas: "image""description";
}



.project-image {
    grid-area: image;
    text-align: center;
    margin-block-end: 1.5em;
}

.project-description {
    grid-area: description;

}

.project img {
    max-width: 100%;
}



.tag span {
    padding: .5em;
    background: var(--black);
    color: var(--primary);
    box-shadow: -4px 4px 0 black;
}

.project-copy {
    line-height: 25px;
    letter-spacing: .5%;
    margin-block-start: 2em;
}

.project-cta {
    margin-block-start: 1.5em;
}

.project-cta button+button {
    margin-block-start: 1em;
}


.testimony {
    padding: 1.5em;
    border-radius: 1.5em;
    backdrop-filter: blur(39.7657px);
    background: rgba(255, 255, 255, .2);
    border: 3.98px solid rgba(255, 255, 255, .4);
}

.testimony-image {
    text-align: center;
}

.testimony-copy {
    line-height: 26px;
    font-weight: bold;
}

.testimony-title {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    line-height: 20px;
}

.project,
.testimony {
    margin-block: 2.5em;
}

.form {
    max-inline-size: 550px;
    margin: auto;
}

.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
}

.form label span {
    color: #7F5539;
}

.form input,
.form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #000;
}

.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}

input::-webkit-input-placeholder {
    color: #0F0A0A88;
}


.contact {
    margin-block-end: 5em;
    margin-top: 100px;
}

.footer {
    text-align: center;
}

#trucazo {
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "description image";
    }

    .hero-description {
        grid-area: description;
    }

    .hero-image {
        grid-area: image;
    }

    .hero-image img {
        inline-size: 500px;
        margin-top: -50px;
    }

    .pre-projects-content {
        max-inline-size: 900px;
        margin: auto;
    }

    .project {
        grid-template-areas: "description image";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3em;
    }

    .project-cta {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .project-cta button+button {
        margin: 0;
    }

    .testimony {
        margin: auto;
        padding: 5em;
        text-align: center;
    }

    .testimony-copy {
        font-size: 2.2em;
        line-height: 55px;
    }

    .testimony-title {
        font-size: 1.5em;
    }

    .project,
    .testimony {
        margin-block: 5em;
    }

    .form .tag span {
        display: block;
        text-align: center;
    }

}